.leftSiteBar {
    width: auto;
}

.iconBar {
    padding: 15px;
    margin: 0px 30px 20px;
}

.active {
    background: #006FBA;
    border-radius: 15px;
}

.active:hover {
    background: #3383b8;
}

.menu {
    margin: 84px 47px 58px 48px;
}