.content {
    background: #EDF4FC;
    border: 2px solid rgba(186, 193, 207, 0.1);
    border-radius: 40px 0px 0px 40px;
    width: 100%;
    padding: 41px 40px 0px 50px;
}

.App, .Widgets {
    display: flex;
    width: 100%;
}

.titleBox {
    display: flex;
    margin: 33px 0 34px;
}

.titleBox span {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #46435C;
    margin-right: 38px;
}

.borderLine {
    border-bottom: 1px solid rgba(186, 193, 207, 0.5);
    width: 100%;
}